[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = "*"
kaleido = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
scikit-learn = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
pandas = "*"
numpy = "*"
plotly = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.12"
